*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenair{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 120px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: red;
    font-size: 16px;
}

.accueil{
    text-align: center;
}

.accueil h1{
    font-size: 80px;
    color: snow;
    font-weight: 6000;
}

.accueil span{
    color: rgb(22, 71, 186);
    font-weight: 800;
}

.accueil a{
    text-decoration: none;
    display: inline-block;
    color: snow;
    font-size: 24px;
    border: 2px solid rgb(246, 224, 28);
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}

.accueil a:hover{
    color: rgb(252, 13, 13);
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}