table {
    border-collapse: collapse;
    width: 100%;
}
  
thead {
    background-color: #ddd;
}
  
th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    font-weight: bold;
}
  
select,
input[type="number"],
button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}
  
button {
    background-color: #4CAF50;
    color: white;
}
  
button:hover {
    background-color: #3e8e41;
}
  
#resultat {
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
}